<div 
  class="ember-help-widget {{if this.isOpen "ember-help-widget-open"}}"
  ...attributes
  {{did-insert this.connectChat}}
  {{did-update this.updateChatInfo @departmentId}}
  {{did-update this.updateChatInfo @currentUserName}}
  {{did-update this.updateChatInfo @currentUserEmail}}
>
  <AnimatedContainer>
    {{#animated-if this.isOpen use=this.transition duration=300}}
      <div class="ember-help-widget-container">
        <div class="ember-help-widget-content">
          <div class="ember-help-widget-arrow"></div>
          <div class="ember-help-widget-header">{{this.widgetHeader}}</div>
          <div class="ember-help-widget-body">
            <HelpWidget::Help
              @isShowing={{this.showingHelp}}
              @viewName={{@viewName}}
              @performSearch={{@performSearch}}
              @fetchSuggestions={{@fetchSuggestions}} />
            <HelpWidget::Feedback
              @isShowing={{this.showingFeedback}}
              @sendFeedback={{@sendFeedback}} />
            <HelpWidget::Chat
              @isShowing={{this.showingChat}}
              @back={{this.showHelp}}
              @supportedFileTypes={{@chatSupportedFileTypes}} />
            <HelpWidget::KeyboardShortcuts
              @isShowing={{this.showingShortcuts}}
              @shortcuts={{@keyboardShortcuts}} />

            <div class="ember-help-widget-navigation">
              {{#if this.showingFeedback}}
                <div class="ember-help-nav-left ember-help-alt-contact-info">{{this.altContactMethods}}</div>
              {{else if (and @keyboardShortcuts (not this.showingShortcuts))}}
                <div class="ember-help-nav-left">
                  <a href="#" {{on "click" this.showShortcuts}}>{{t "ember-help-widget.shortcuts.link" htmlSafe=true}}</a>
                </div>
              {{else}}
                <div class="ember-help-nav-left"></div>
              {{/if}}

              {{#if this.showingHelp}}
                {{#if this.isChatAvailable}}
                <span>
                  <a href="#" {{on "click" this.showChat}}>
                    {{#if this.inChat}}{{t "ember-help-widget.chat.link" htmlSafe=true}}{{else}}{{t "ember-help-widget.chat.link-start" htmlSafe=true}}{{/if}}
                  </a>
                  {{t "ember-help-widget.or"}}&nbsp;</span>
                {{/if}}
                <span><a href="#" {{on "click" this.showFeedback}}>{{t "ember-help-widget.feedback.link" htmlSafe=true}}</a></span>
              {{/if}}

              {{#if (or this.showingFeedback this.showingChat this.showingShortcuts)}}
                <span><a href="#" {{on "click" this.showHelp}}>{{t "ember-help-widget.help.link" htmlSafe=true}}</a></span>
              {{/if}}
            </div>
          </div>
        </div> 
      </div>
    {{/animated-if}}
  </AnimatedContainer>

  <button
    type="button"
    class="ember-help-widget-toggle {{if this.showUnreadBadge "ember-help-widget-badge"}}"
    {{on "click" this.toggleOpen}}
  >
    {{#if this.isOpen}}
      <HelpWidget::Icon @name="close" />
    {{else}}
      <HelpWidget::Icon @name="info" />
    {{/if}}
  </button>
</div>
{{!-- template-lint-disable no-invalid-interactive --}}
{{#if this.isOpen}}
  <div class="ember-help-widget-click-field" {{on "click" this.toggleOpen}}></div>
{{/if}}
